<%- include('partials/header') %>
            <div class="container">
                <h2>My Projects</h2>
                <div class="projects-grid">
                    <div class="project-card">
                        <h3>Jems Creations Website</h3>
                        <p>Created a full-stack web application for a handmade jewelry business with user authentication, cart functionality, and dynamic inventory management using PostgreSQL, JavaScript, EJS, and CSS.</p>
                        <a href="https://jemscreations.onrender.com/" class="btn btn-small" target="_blank">Jems Creations</a>
                    </div>
                    <div class="project-card">
                        <h3>Breed & Show Pro</h3>
                        <p>Worked with a team of 5 to create an eight page app using Figma. Performed UX interviews and made improvements based on customer feedback.</p>
                        <a href="https://www.figma.com/board/mPWTbbKE8dJApMaLVxQq6P/Team-1%3A-Project-Plan-%26-Milestones?t=Yesh7E4W6MLMB8Ez-0" class="btn btn-small">Breed & Show Pro</a>
                    </div>
                    <div class="project-card">
                        <h3>Division Street Dental</h3>
                        <p>In progress informational site for dental office with live map, messaging to office, and reviews using HTML, CSS, JavaScript</p>
                        <a href="https://jmchargue54.github.io/WDD130/dsd/index.html" class="btn btn-small" target="_blank">Division Street Dental (Correct Desktop CSS)</a>
                        <a href="https://jmchargue54.github.io/24WDD131/dsd/index.html" class="btn btn-small" target="_blank">Division Street Dental (Correct Mobile CSS)</a>
                    </div>
                    <div class="project-card">
                        <h3>Page Mate</h3>
                        <p>Worked with a partner to create a site where user can browse, search, or filter to find a book and read the full text online using HTML, CSS, JavaScript, and an API</p>
                        <a href="https://jemscreations.onrender.com/" class="btn btn-small">Page Mate</a>
                    </div>
                    <div class="project-card">
                        <h3>Jems Creations Business Card</h3>
                        <p>Design and printed a logo and business card for a handmade jewelry business using Canva</p>
                        <a href="/img/JemsCreationsBusinessCard.pdf" class="btn btn-small" target="_blank">Jems Creations</a>
                    </div>
                    <div class="project-card">
                        <h3>Blindeness Book Covers</h3>
                        <p>Designed book covers for the book Blindness by José Saramago</p>
                        <a href="https://www.behance.net/gallery/220475333/Book-Covers" class="btn btn-small" target="_blank">Blindness</a>
                    </div>
                    <div class="project-card">
                        <h3>Three Sisters Zine</h3>
                        <p>Designed and printed a zine for a general conference talk using Adobe InDesign</p>
                        <a href="/img/ThreeSistersZine.pdf" class="btn btn-small" target="_blank">Three Sisters</a>
                    </div>
                </div>
            </div>
        </section>
<%- include('partials/footer') %>
